.pulse-incomingcall i {
	color: #fff;
}

.pulse-incomingcall {
	height: 100px;
	width: 100px;
	background-color: orange;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.pulse-incomingcall::before {
	content: "";
	position: absolute;
	border: 1px solid orange;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	border-radius: 50%;
	animation: pulse 1s linear infinite;
}

.pulse-incomingcall::after {
	content: "";
	position: absolute;
	border: 1px solid orange;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	border-radius: 50%;
	animation: pulse 1s linear infinite;
	animation-delay: 0.3s;
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}

.pulse-calling i {
	color: #fff;
}

.pulse-calling {
	height: 100px;
	width: 100px;
	background-color: #87d068;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.pulse-calling::before {
	content: "";
	position: absolute;
	border: 1px solid #87d068;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	border-radius: 50%;
	animation: pulse 1s linear infinite;
}

.pulse-calling::after {
	content: "";
	position: absolute;
	border: 1px solid #87d068;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	border-radius: 50%;
	animation: pulse 1s linear infinite;
	animation-delay: 0.3s;
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}

	50% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.3);
		opacity: 0;
	}
}