@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.container-ride-detail h1 {
  font-weight: 200;
  color: #EA0B8C;
}

.container-ride-detail h2 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1em;
}

.container-ride-detail h3 {
  font-weight: 300;
  font-size: 1em;
}

.container-ride-detail p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
  color: #352384;
}

.container-ride-detail a {
  text-decoration: none;
}

.container-ride-detail span {
  font-size: 0.6em;
  margin-left: 1em;
}

.container-ride-detail  {
  position: relative;
  margin: auto;
  overflow: hidden;
  background: #f9f9fa;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(17, 17, 31, 0.3);
}

#logo {
  width: 50px;
  height: auto;
  position: absolute;
  right: 1em;
  margin: 1em;
}

.container-ride-detail .fa-lyft {
  color: #EA0B8C;
  font-size: 3em;
}

.container-ride-detail .main {
  margin: 3.5em 3em 1em 3em;
}

.container-ride-detail .location {
  border: 1px solid transparent;
  width: 100%;
  height: 30%;
  margin-top: -1.5em;
  padding-bottom: 1.7em;
}
.container-ride-detail .location p {
  margin-top: -0.8em;
}
.container-ride-detail .location img {
  position: absolute;
  left: 50%;
  height: 190px;
  margin-top: 38px;
}

.container-ride-detail .location__pickup {
  margin: 2.7em 4.5em;
}

.container-ride-detail .location__dropoff {
  margin: 0 4.5em;
  padding-top: 1px;
}
.container-ride-detail .location__dropoff p {
  color: #EA0B8C;
}

.container-ride-detail .dot {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 220px;
  left: 3em;
}
.container-ride-detail .dot .inner {
  background: #f9f9fa;
  position: absolute;
  width: 45%;
  height: 45%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container-ride-detail .pickup {
  background: #352384;
}

.container-ride-detail .dropoff {
  background: #EA0B8C;
  top: 315px;
}

.container-ride-detail .location__line {
  background: linear-gradient(#352384, #EA0B8C);
  width: 2px;
  height: 105px;
  position: absolute;
  left: 54px;
  margin-top: 55px;
}

.container-ride-detail .receipt__title {
  margin: 0.5em 3em -2.5em 3em;
}

.container-ride-detail .receipt {
  margin: 3em 4.5em 0 3.5em;
  height: 150px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container-ride-detail .receipt__grid1 {
  margin-top: 1.1em;
}
.container-ride-detail .receipt__grid1 p {
  color: #11111f;
}

.container-ride-detail .receipt__grid2 {
  margin-top: 1.1em;
}
.container-ride-detail .receipt__grid2 p {
  text-align: right;
}

.container-ride-detail .receipt__line {
  position: absolute;
  left: 11%;
  top: 68.5%;
  width: 75%;
  height: 1px;
  background: #EA0B8C;
}

.container-ride-detail .total {
  margin-top: 2em;
}

.container-ride-detail .rate {
  width: 100%;
  margin-top: -1.3em;
  text-align: center;
}

.container-ride-detail .rate .fa-star {
  padding: 5px 8px;
  color: #EA0B8C;
}

.container-ride-detail .lyft__footer {
  background: #352384;
  padding-bottom: 25px;
  width: 100%;
  height: 12%;
  position: absolute;
  bottom: 0;
}
.container-ride-detail .lyft__footer p {
  color: #f9f9fa;
  margin: 2.5em 3.2em;
}
.container-ride-detail .lyft__footer .lyft__social {
  position: absolute;
  width: 50%;
  height: 50px;
  text-align: right;
  top: 0;
  right: 0;
  margin-top: 3em;
  margin-right: 1.2em;
}
.container-ride-detail .lyft__footer .lyft__social .fab {
  padding: 14px;
  color: #f9f9fa;
}
.container-ride-detail .lyft__footer .lyft__social .fab:hover {
  color: #f533a3;
  transition: all 0.8s ease;
  transform: scale(1.3);
}

.container-ride-detail footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  padding: 10px;
  font-size: 0.7em;
}
.container-ride-detail footer p {
  letter-spacing: 3px;
  color: #352384;
}
.container-ride-detail footer a {
  color: #f9f9fa;
  text-decoration: none;
}
.container-ride-detail footer a:hover {
  color: #7d7d7d;
}